<!DOCTYPE html>
<html lang="en">
{{template "header.tmpl.html"}}
<body>
<h1>shields json for google play store app badge</h1>
<div>

<form>
<table>
<thead>
  <tr><th></th><th>Values</th></tr>
</thead>
<tbody>
{{range $k, $v := .placeholders}}
  <tr><td>{{$k}}</td><td>=></td><td>{{$v}}</td></tr>
{{end}}
</tbody>
</table>
<br>
<table>
<tbody>
  <tr>
    <td>
      <label for="label">Base URL:</label>
    </td>
    <td>
       <input type="text" size="40" id="baseurl" disabled value="https://playshields.herokuapp.com/play?">
       <input type="hidden" id="basepath" value="/play?">
       <input type="hidden" id="baseendpoint" value="https://img.shields.io/endpoint?">
    </td>
  </tr>
  <tr>
    <td>
      <label for="label">App id:</label>
    </td>
    <td>
      <input type="text" size="60" name="appid" id="appid" value="{{ .appid }}" placeholder="org.mozilla.firefox or https://play.google.com/store/apps/details?id=...">
    </td>
  </tr>
  <tr>
    <td>
      <label for="label">Label:</label>
    </td>
    <td>
      <input type="text" size="60" name="label" id="label" value="{{ .label }}">
      {{range $k, $v := .placeholders}}
        <span class="addplaceholder" onclick="this.parentNode.querySelector('input').value += this.textContent" title="{{$v}}">{{$k}}</span>
      {{end}}
    </td>
  </tr>
  <tr>
    <td>
      <label for="message">Message:</label>
    </td>
    <td>
      <input type="text" size="60" name="message" id="message" value="{{ .message }}">
      {{range $k, $v := .placeholders}}
        <span class="addplaceholder" onclick="this.parentNode.querySelector('input').value += this.textContent" title="{{$v}}">{{$k}}</span>
      {{end}}
    </td>
  </tr>
  <tr>
    <td><input type="submit" value="Go" id="go"></td>
  </tr>
  <tr>
    <td>URL:</td>
    <td>
      <input type="text" size="100" id="jsonurl">
      Copy this into the form at <a href="https://shields.io/endpoint" target="_blank">https://shields.io/endpoint</a> to customize color/logo
    </td>
  </tr>
  <tr style="color:silver">
    <td>JSON:</td>
    <td><pre id="json"></pre></td>
  </tr>
  <tr>
    <td>Badge URL:</td>
    <td><textarea id="shieldurl"></textarea><br><span class="copy">Copy<span class="status"></span></span></td>
  </tr>
  <tr>
    <td>Badge:</td>
    <td><img id="shield"></td>
  </tr>
  <tr>
    <td>Customized Badge URL:</td>
    <td><textarea id="shieldurlstyled"></textarea><br><span class="copy">Copy<span class="status"></span></span></td>
  </tr>
  <tr>
    <td>Customized Badge :</td>
    <td><img id="shieldstyled"></td>
  </tr>

</tbody>
</table>

</form>

</div>

<div id="copymenu" style="display:none">
  <ul>
  </ul>
</div>

<br>
<br>
<hr>
Source code at <a href="">github</a>

</body>
</html>
